/* Tablet Layout: 980px. */

@media only screen and (min-width: 980px) and (max-width: 1280px) {
.slicknav_menu{display:none}
.manu ul {
  margin-top: -53px;
}
.contact_to_singel {
  width: 143px;
}
.contact_to_singel img {
  max-width: 125px;
}
.singel_LongerDays {
  width: 102px;
}
.singel_LongerDays img {
  max-width: 95px;
}
.singel_LongerDays h3 {
  font-size: 10px;
  line-height: 18px;
  padding: 3px 9px;
}
.virtual_assistance p {

  font-size: 14px;
}
.subheader {
  margin-top: -36px;
}

.Request_to_talk {
  float: right;
  margin-top: -81px;
}
.talk_to_a_human p {
  font-size: 14px;
}
.Call li {
  float: right;
  padding-right: 17px;
}
.fotter_right {
  float: right;
  margin-top: -49px;
}
.item-hover.circle {
  border-radius: 50%;
  height: 169px;
  position: relative;
  width: 173px;
  margin-right:65px;
  display:inline-block;
}

.item-hover.circle .img::before {
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
  content: "";
  display: block;
  height: 105%;
  position: absolute;
  transition: all 0.35s ease-in-out 0s;
  width: 105%;
}
.item-hover img {
  height: 100%;
  width: 100%;
}
.item-hover.circle {
  border-radius: 50%;
  height: 169px;
  position: relative;
  width: 173px;
  float: left;
}
.item-hover.circle.effect20 .info .info-back {
  height: 134%;
  width: 130%;
}
}
/* Tablet Layout: 768px. */

@media only screen and (min-width: 800px) and (max-width: 1280px) {
.slicknav_menu{display:none}
.manu ul {
  float: right;
  margin-top: -52px;
}
.contact_to_singel {
  width: 129px;
}
.contact_to_singel img {
  max-width: 119px;
}
.contact_to_singel h2 {
  font-size: 18px;
}
.singel_LongerDays {
  float: left;
  margin-bottom: 50px;
  width: 95px;
}
.singel_LongerDays img {
  max-width: 90px;
}
.singel_LongerDays h3 {
  font-size: 12px;
  font-weight: 700;
  line-height: 21px;
}







.item-hover.circle {
  border-radius: 50%;
  height: 169px;
  position: relative;
  width: 173px;
  margin-right:65px;
  display:inline-block;
}

.item-hover.circle .img::before {
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
  content: "";
  display: block;
  height: 105%;
  position: absolute;
  transition: all 0.35s ease-in-out 0s;
  width: 105%;
}
.item-hover img {
  height: 100%;
  width: 100%;
}
.item-hover.circle {
  border-radius: 50%;
  height: 169px;
  position: relative;
  width: 173px;
  float: left;
}
.item-hover.circle.effect20 .info .info-back {
  height: 134%;
  width: 130%;
}
.Request_to_talk {
  margin-top: 81px;
  padding-bottom: 52px;
  text-align: center;
}

.Call li {
  float: right;
  padding-right: 2px;
}
.fotter_right {
  float: right;
  margin-top: -47px;
}
}



/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
.slicknav_menu{display:none}
.manu ul {
  float: right;
  margin-top: -55px;
}

.contact_to_singel {

  width: 126px;
}
.contact_to_singel img {
  max-width: 120px;
}
.contact_to_singel h2 {
  font-size: 18px;
}
.singel_LongerDays {
  width: 93px;
}
.singel_LongerDays img {
  max-width: 90px;
}


.item-hover.circle {
  border-radius: 50%;
  height: 169px;
  position: relative;
  width: 173px;
  margin-right:65px;
  display:inline-block;
}

.item-hover.circle .img::before {
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
  content: "";
  display: block;
  height: 105%;
  position: absolute;
  transition: all 0.35s ease-in-out 0s;
  width: 105%;
}
.item-hover img {
  height: 100%;
  width: 100%;
}
.item-hover.circle {
  border-radius: 50%;
  height: 169px;
  position: relative;
  width: 173px;
  float: left;
}
.item-hover.circle.effect20 .info .info-back {
  height: 134%;
  width: 130%;
}
.Request_to_talk {
  float: right;
  margin-bottom: 55px;
  margin-top: -31px;
}
.Call li {
  float: right;

}

.fotter_right {
  float: right;
  margin-top: -46px;
}

}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
.slicknav_menu{display:block}
.manu ul {
display:none
}
.slider_aria {
  height: 334px;

}
a.sliderbutton {
  font-size: 21px;
  padding: 9px 75px;
}
.slider_text p {

  font-size: 15px;

}
.type-wrap {
  font-size: 28px;
  width: 459px;
}
.item-hover.circle {
  border-radius: 50%;
  height: 169px;
  position: relative;
  width: 173px;
  margin-right:65px;
  display:inline-block;
}

.item-hover.circle .img::before {
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
  content: "";
  display: block;
  height: 105%;
  position: absolute;
  transition: all 0.35s ease-in-out 0s;
  width: 105%;
}
.item-hover img {
  height: 100%;
  width: 100%;
}
.item-hover.circle {
  border-radius: 50%;
  height: 169px;
  position: relative;
  width: 173px;
  float: left;
}
.item-hover.circle.effect20 .info .info-back {
  height: 134%;
  width: 130%;
}

.contact_to_singel {

  width: 100%;
}
.singel_LongerDays {
  width: 100%;
}
.singel_LongerDays img {
  max-width: 100%;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
  height: auto;
  max-width: 100%;
  display:inline;
}
.longerDays_text p {

  line-height: 47px;
}
.service_was_designed_aria {
  background: #3f9bca none repeat scroll 0 0;
  height: 167px;
}
.service_was_designed h2 {
  display: block;
  font-family: "Source Sans Pro",sans-serif;
  font-size: 33px;
  font-weight: 200;
  margin-top: 216px;
  overflow: hidden;
  text-align: center;
}
.main_content_Feature {

  margin-top: 213px;
}
.main_content_Feature img {
  border: 5px solid #ffffff;
  box-shadow: 0 0 0 6px #d27437;
  display: inline;
  margin-bottom: 70px;
  margin-right: 106px;
  max-width: 339px;
  overflow: hidden;
  text-align: center;
}
.main_content_Feature a {

  float: right;
  margin-bottom: 54px;
  padding: 10px 25px;
  text-decoration: none;
}
.main_content_Feature {
  margin-top: 384px;
}
.main_content_Feature_aria {
  margin-top: -210px;
}

}




/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
.slicknav_menu{display:block}
.manu ul {
display:none
}
a.sliderbutton {
  font-size: 21px;
  padding: 9px 75px;
}
.slider_text p {

  font-size: 15px;

}

.type-wrap {
  font-size: 28px;

  width: 356px;
}

.item-hover.circle {
  border-radius: 50%;
  height: 169px;
  position: relative;
  width: 173px;
  margin-right:65px;
  display:inline-block;
}

.item-hover.circle .img::before {
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
  content: "";
  display: block;
  height: 105%;
  position: absolute;
  transition: all 0.35s ease-in-out 0s;
  width: 105%;
}
.item-hover img {
  height: 100%;
  width: 100%;
}
.item-hover.circle {
  border-radius: 50%;
  height: 169px;
  position: relative;
  width: 173px;
  float: left;
}
.item-hover.circle.effect20 .info .info-back {
  height: 134%;
  width: 130%;
}
.item-hover.circle {

  height: 169px;
  margin-bottom: 96px;
  width: 173px;
}
a.Contact_to_button {
  padding: 12px 18px;

}
.singel_LongerDays {
  float: left;
  margin-bottom: 50px;
  width: 268px;
}
.singel_LongerDays img {
  display: inline;
  max-width: 234px;
  text-align: center;
}
.Request_to_talk {
  display: inline;
  margin-top: 21px;
}
.Request_to_talk {
  display: inline-block;
  margin-top: -6px;
  padding-bottom: 45px;
  padding-right: 16px;
  text-align: center;
}
.fotter_right {
  text-align: center;
}
.longerDays_text h2 {
  font-size: 26px;

}
.longerDays_text p {

  font-size: 23px;

  line-height: 30px;
}
.main_content_Feature {
  border-bottom: 2px dashed #dddddd;
  margin-top: 451px;
}
.service_was_designed_aria {
  margin-bottom: -414px;
}
.getstarted_aria {

  margin-top: 425px;

}
.getstarted p {
  width: 324px;
}
.getstarted {

  width: 300px;
}
.fotter_right {
  text-align: center;
}
.Assistance {

  margin-top: 446px;
}
.Assistance img {
  max-width: 278px;
}
.Assistance p {
  margin-top: 21px;
}
.Assistance h2 {
  margin-bottom: 49px;
  text-align: center;
}
.Assistance li {
  font-size: 14px;
  font-weight: 200;

}
.Assistance_aria {
  margin-bottom: 495px;
}
.Assistance_aria {
  width: 360px;
}
.service_was_designed p {
  width: 300px;
}
.Assistance p {
  width: 299px;
}
.service_was_designed p {

  width: 300px;
}
.cotract_us {
  margin-top: 469px;
}
}


