#scrollUp {
    background: #a90249 none repeat scroll 0 0;
    bottom: 20px;
    color: rgb(255, 255, 255);
    font-size: 29px;
    padding: 6px 19px;
    right: 20px;
}
#scrollUp:hover {
    background: #f06ca5 none repeat scroll 0 0;
    color: #40ad40;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
*::-moz-selection {
    background: #b3d4fc none repeat scroll 0 0;
    text-shadow: none;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ccc -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}
audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.browserupgrade {
    background: #ccc none repeat scroll 0 0;
    color: #000;
    margin: 0.2em 0;
    padding: 0.2em 0;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix::before, .clearfix::after {
    content: " ";
    display: table;
}
.clearfix::after {
    clear: both;
}
@media only screen and (min-width: 35em) {
}
@media print, not all, not all, (min-resolution: 120dpi) {
}
@media print {
*, *::before, *::after {
    background: transparent none repeat scroll 0 0 !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
}
a, a:visited {
    text-decoration: underline;
}
a[href]::after {
    content: " (" attr(href) ")";
}
abbr[title]::after {
    content: " (" attr(title) ")";
}
a[href^="#"]::after, a[href^="javascript:"]::after {
    content: "";
}
pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}
thead {
    display: table-header-group;
}
tr, img {
    page-break-inside: avoid;
}
img {
    max-width: 100% !important;
}
p, h2, h3 {
    orphans: 3;
    widows: 3;
}
h2, h3 {
    page-break-after: avoid;
}
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix::before, .clearfix::after {
    content: " ";
    display: table;
}
.clearfix::after {
    clear: both;
}
@media only screen and (min-width: 35em) {
}
@media print, not all, not all, (min-resolution: 120dpi) {
}
@media print {
*, *::before, *::after {
    background: transparent none repeat scroll 0 0 !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
}
a, a:visited {
    text-decoration: underline;
}
a[href]::after {
    content: " (" attr(href) ")";
}
abbr[title]::after {
    content: " (" attr(title) ")";
}
a[href^="#"]::after, a[href^="javascript:"]::after {
    content: "";
}
pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}
thead {
    display: table-header-group;
}
tr, img {
    page-break-inside: avoid;
}
img {
    max-width: 100% !important;
}
p, h2, h3 {
    orphans: 3;
    widows: 3;
}
h2, h3 {
    page-break-after: avoid;
}
}
.accordion, .accordion * {
    box-sizing: border-box;
}
.accordion {
    background: #f7f7f7 none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
.accordion-section-title {
    border: 1px solid #a8a8a8;
    display: inline-block;
    font-size: 1.2em;
    padding: 15px;
    transition: all 0.15s linear 0s;
    width: 100%;
}
.accordion-section-title.active, .accordion-section-title:hover {
    border: 1px solid #a8a8a8;
    text-decoration: none;
}
.accordion-section:last-child .accordion-section-title {
    border-bottom: medium none;
}
.accordion-section-content {
    display: none;
    padding: 15px;
}
.no-js {
}
.browserupgrade {
}
.header_aria {
    height: 150px;
}
.container {
}
.longerDays_cercel_img2 {
    border-radius: 500px;
    display: block;
    margin: -140px auto 0;
    max-width: 127px;
    position: relative;
    z-index: 2;
}
.longerDays_cercel_img2:hover, .tossing {
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-name: tossing;
}
@keyframes tossing {
0% {
    transform: rotate(0deg);
}
25% {
    transform: rotate(-30deg);
}
75% {
    transform: rotate(30deg);
}
100% {
    transform: rotate(0deg);
}
}
.header {
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
}
body {
    background-attachment: fixed;
    background-image: url("img/bg_pattern_ambient.png");
}
.logo {
}
.logo a img {
    max-width: 130px;
}
.slicknav_menu {
    display: none;
}
.mainmanu {
}
.manu {
}
.manu ul {
    float: right;
    margin-top: 30px;
}
.manu ul li {
    float: left;
    list-style: outside none none;
    padding: 12px;
}
.manu ul li a {
    color: #409ece;
    text-decoration: none;
}
.manu ul li a:hover {
    border-bottom: 2px solid #1086c9;
    padding-bottom: 20px;
}
.slider_aria {
    background-attachment: fixed;
    background-image: url("img/slider.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 570px;
    position: relative;
    width: 100%;
}
.slider_aria img {
    position: relative;
}
.slider_aria img {
    height: 500px;
    width: 100%;
}
.slider_aria_color {
    background: #3399ff none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0.2;
    position: absolute;
    top: 0;
    width: 100%;
}
.slider_text_aria {
    height: 100%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 100%;
}
.col-lg-12 {
}
.slider_text {
    margin-top: 10%;
    text-align: center;
}
.slider_text {
}
.slider_text p {
    color: #fff;
    font-family: "Raleway",sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 60px;
}
.slider_text a {
}
.slider_text li {
    color: #fff;
    list-style: outside none none;
    margin-top: 38px;
    transition: all 1s ease 0s;
}
.slider_text li a {
    border-bottom: 1px dashed;
    color: #fff;
    padding-bottom: 6px;
    text-decoration: none;
}
.slider_text li a {
    border-bottom: 1px dashed;
    color: #fff;
    padding-bottom: 6px;
    text-decoration: none;
    transition: all 1s ease 0s;
}
.slider_text li a:hover {
    color: #000;
}
.type-wrap {
    color: #fff;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 61px;
    font-weight: 400;
}
a.sliderbutton {
    background: #006994 none repeat scroll 0 0;
    border-radius: 51px;
    box-shadow: 0 5px 0 #3399ff;
    color: #fff;
    font-size: 23px;
    padding: 20px 170px;
}
a.sliderbutton:hover {
    box-shadow: 0 0 0 #3399ff;
    text-decoration: none;
}
.Contact_to_aria {
    padding-bottom: 80px;
    text-align: center;
}
.Contact_to {
    margin-bottom: 100px;
    margin-top: 100px;
}
.Contact_to h3 {
    color: #595959;
    font-family: arial;
    font-size: 32px;
    font-weight: 700;
}
.Contact_to p {
    font-family: "Raleway",sans-serif;
    font-size: 17px;
    font-weight: 200;
}
.Contact_to p {
}
.contact_to_singel {
    float: left;
    margin-bottom: 50px;
    text-align: center;
}
.contact_to_singel img {
    height: 231px;
    width: 100%;
}
.contact_to_singel h2 {
}
.bounceInRight {
}
.img-circle {
}
.img-responsive {
}
a.Contact_to_button:hover {
    box-shadow: 0 0 0 #3399ff;
}
a.Contact_to_button {
    background: #006994 none repeat scroll 0 0;
    border-radius: 50px;
    box-shadow: 0 5px 0 #3399ff;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 12px 42px;
    text-decoration: none;
}
.Contact_to_button {
}
.LongerDays_aria {
}
.LongerDays_aria {
    background: #eaf2f6 none repeat scroll 0 0;
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
}
.LongerDays {
}
.LongerDays p {
    font-family: "Raleway",sans-serif;
    font-size: 20px;
    font-weight: 200;
}
.LongerDays h2 {
    color: #5d5959;
    font-size: 30px;
    font-weight: 700;
}
.singel_LongerDays {
    float: left;
    margin-bottom: 50px;
    width: 160px;
}
.singel_LongerDays img {
    max-width: 150px;
}
.singel_LongerDays h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    padding: 3px 9px;
}
.Features {
}
a.Features {
    background: #006994 none repeat scroll 0 0;
    border-radius: 50px;
    box-shadow: 0 5px 0 #3399ff;
    color: #fff;
    font-size: 17px;
    font-weight: 200;
    padding: 16px 29px;
    text-decoration: none;
}
a.Features:hover {
    box-shadow: 0 0 0 #3399ff;
}
.virtual_assistance_aria {
    background: #1086c9 url("img/bg_pattern_ambient.png") repeat fixed 0 0;
    color: #fff;
    opacity: 0.9;
    padding-bottom: 60px;
    padding-top: 60px;
}
.virtual_assistance_aria {
}
.col-lg-7 {
}
.virtual_assistance p {
    font-family: "Raleway",sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.col-lg-5 {
}
.subheader {
    float: right;
    margin-top: 20px;
}
.subheader a {
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
}
.Businesses_Depend_aria {
    text-align: center;
}
.Businesses_Depend {
    margin-bottom: 200px;
    margin-top: 100px;
}
.Businesses_Depend h1 {
    font-size: 40px;
    font-weight: 600;
}
.item-hover {
}
.circle {
}
.effect20 {
}
.bottom_to_top {
}
.button_margin {
}
.img {
}
.info {
}
.info-back {
}
.Success_Stories {
    background: #2b7ca6 none repeat scroll 0 0;
    border-radius: 50px;
    box-shadow: 0 5px 0 #333;
    color: #fff;
    margin-left: -158px;
    margin-top: 177px;
    padding: 20px 58px;
    position: absolute;
    text-decoration: none;
}
.Success_Stories a:hover {
    color: #fff;
}
a.Success_Stories:hover {
    box-shadow: 0 0 0 #333;
    text-decoration: none;
}
.talk_aria {
    background: #2b7ca6 none repeat scroll 0 0;
    color: #fff;
}
.bounceInLeft {
}
.col-lg-6 {
}
.talk_to_a_human {
    margin-bottom: 50px;
    margin-top: 50px;
}
.talk_to_a_human p {
    font-family: "Raleway",sans-serif;
    font-size: 18px;
}
.talk_to_a_human h2 {
    font-size: 31px;
}
.Request_to_talk {
    float: right;
    margin-top: 81px;
}
.talk_to_a_human::before {
    background: #2b7ca6 none repeat scroll 0 0;
    content: "";
    height: 40px;
    margin-left: 81px;
    margin-top: -69px;
    position: absolute;
    transform: rotate(46deg);
    width: 40px;
}
.Request_to_talk a:hover {
}
.Request_to_talk a {
    background: #fff none repeat scroll 0 0;
    border-radius: 50px;
    box-shadow: 0 5px 0 #3399ff;
    padding: 10px 100px;
    text-decoration: none;
}
.button_Request {
}
.footer_top_aria {
}
.col-lg-3 {
}
.Services {
}
.Services h2 {
    border-bottom: 2px solid #2b7ca6;
    color: #409ece;
    font-size: 30px;
    padding-bottom: 17px;
}
.Services li {
    color: #333;
    list-style: outside none none;
}
.Services li a {
    color: #333;
    text-decoration: none;
}
.Services li a:hover {
    color: #00abeb;
}
.Support h2 {
    border-bottom: 2px solid #2b7ca6;
    color: #409ece;
    font-size: 30px;
    padding-bottom: 17px;
}
.Support li {
    color: #333;
    list-style: outside none none;
}
.Support li a {
    color: #333;
    text-decoration: none;
}
.Support li a:hover {
    color: #00abeb;
}
.Company h2 {
    border-bottom: 2px solid #2b7ca6;
    color: #409ece;
    font-size: 30px;
    padding-bottom: 17px;
}
.Company li {
    color: #333;
    list-style: outside none none;
}
.Company li a {
    color: #333;
    text-decoration: none;
}
.Company li a:hover {
    color: #00abeb;
}
.Call h2 {
    border-bottom: 2px solid #2b7ca6;
    color: #409ece;
    font-size: 30px;
    padding-bottom: 17px;
}
.Call li {
    color: #333;
    list-style: outside none none;
}
.Call li a {
    color: #333;
    text-decoration: none;
}
.Call li a:hover {
    color: #00abeb;
}
.Call {
}
.Call li {
    float: left;
    padding-right: 2px;
}
.fa-twitter {
    background: #14afff none repeat scroll 0 0;
    border-radius: 50px;
    color: #fff;
    font-size: 25px;
    padding: 15px;
}
.fa-facebook {
    background: #587aca none repeat scroll 0 0;
    border-radius: 50px;
    color: #fff;
    font-size: 25px;
    padding: 15px 18px;
}
.fa-linkedin {
    background: #2b69ae none repeat scroll 0 0;
    border-radius: 50px;
    color: #fff;
    font-size: 25px;
    padding: 15px 16px;
}
.fa-rss {
    background: #f5a42b none repeat scroll 0 0;
    border-radius: 50px;
    color: #fff;
    font-size: 25px;
    padding: 15px 17px;
}
.fotter_aria {
    background-color: #333;
    color: #fff;
    margin-top: 50px;
}
.fotter_left {
}
.fotter_right {
    float: right;
}
.button_mahdi {
    background: #0087cc none repeat scroll 0 0;
    border: 0 none;
    border-radius: 4px;
    box-shadow: 0 5px 0 #006599;
    color: #fff;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: 0 none;
    padding: 12px 20px;
    transition: all 0.1s linear 0s;
}
.button_mahdi:active {
    box-shadow: 0 2px 0 #006599;
    transform: translateY(3px);
}
.longerDays_aria {
    height: 200px;
    width: 100%;
}
.longerDays_text_aria {
}
.longerDays_aria_overlay {
    background: #409ece url("img/bg_pattern_ambient.png") repeat fixed 0 0;
    height: 200px;
    position: relative;
    width: 100%;
}
.longerDays_text {
    color: #fff;
    height: 100%;
    left: 0;
    margin-top: -215px;
    position: absolute;
    top: 0;
    width: 100%;
}
.longerDays_text p {
    font-family: "Source Sans Pro",sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 11px;
}
.longerDays_text h2 {
    font-family: "Roboto",sans-serif;
    font-size: 42px;
    font-weight: 700;
}
img.longerDays_cercel_img1 {
    position: relative;
}
.longerDays_cercel {
    height: 200px;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}
.longerDays_cercel img:hover tossing {
    display: block;
}
.service_was_designed {
    border-bottom: 2px dashed #e6e6e6;
}
.service_was_designed h2 {
    font-family: "Source Sans Pro",sans-serif;
    font-size: 33px;
    font-weight: 200;
    margin-top: 120px;
    text-align: center;
}
.service_was_designed p {
    font-family: "Source Sans Pro",sans-serif;
    font-size: 18px;
    font-weight: 100;
    margin: 0 auto 20px;
    text-align: center;
    width: 702px;
}
.main_content_Feature_aria {
}
.main_content_Feature {
    border-bottom: 2px dashed #ddd;
    height: 368px;
    margin-top: 100px;
}
.main_content_Feature img {
    border: 5px solid #fff;
    box-shadow: 0 0 0 6px #d27437;
    float: left;
    margin-bottom: 70px;
    margin-right: 70px;
    max-width: 300px;
}
.main_content_Feature p {
    font-size: 17px;
    line-height: 30px;
}
.main_content_Feature h2 {
    font-family: "Source Sans Pro",sans-serif;
    font-size: 32px;
    font-weight: 400;
}
.main_content_Feature a {
    background: #3f9bca none repeat scroll 0 0;
    border-radius: 50px;
    box-shadow: 1px 4px 0 0 #311f53;
    color: #fff;
    font-size: 16px;
    padding: 10px 25px;
    text-decoration: none;
}
button {
    transition: background-color 300ms ease-out 0s;
}
.main_content_Feature a:hover {
    box-shadow: 1px 0 0 0 #311f53;
}
.getstarted_aria {
    background-color: #2b7ca6;
    color: #fff;
    height: 600px;
    text-align: center;
}
.getstarted {
    margin-top: 170px;
}
.getstarted h2 {
    font-family: "Source Sans Pro",sans-serif;
    font-size: 30px;
    font-weight: 200;
}
.getstarted p {
    font-family: "Source Sans Pro",sans-serif;
    font-size: 19px;
    font-weight: 300;
    margin: 0 auto 30px;
    width: 514px;
}
.getstarted a {
    background: #fff none repeat scroll 0 0;
    border-radius: 50px;
    box-shadow: 0 5px 0 2px #dfffff;
    color: #333;
    font-size: 18px;
    padding: 14px 78px;
    text-decoration: none;
}
.getstarted a:hover {
    box-shadow: 0 0 0 0 #dfffff;
}
.getstarted i {
}
.Assistance {
    border-bottom: 2px dashed #c6c6c6;
    height: 400px;
    margin-top: 75px;
}
.Assistance img {
    border-radius: 500px;
    float: left;
    margin-bottom: 30px;
    margin-right: 90px;
    max-width: 316px;
}
.Assistance h2 {
    color: #444444;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 30px;
    font-weight: 600;
}
.Assistance p {
    font-family: "Source Sans Pro",sans-serif;
    font-size: 20px;
    font-weight: 200;
}
.Assistance i {
    background: #95c86d none repeat scroll 0 0;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    height: 30px;
    margin-right: 13px;
    padding: 6px;
    text-align: center;
    text-shadow: 1px 1px 1px #333;
    width: 30px;
}
.Assistance li {
    font-family: "Source Sans Pro",sans-serif;
    font-size: 20px;
    font-weight: 200;
    list-style: outside none none;
    margin-top: 4px;
}
.cotract_us {
    margin-top: 100px;
}
.cotract_us input {
    margin-bottom: 30px;
}
.cotract_us button {
    background: #4285f4 none repeat scroll 0 0;
    border: medium none;
    border-radius: 50px;
    box-shadow: 0 8px 0 0 #00005b;
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
    padding: 12px 28px;
}
.cotract_us button:hover {
    box-shadow: 0 0 0 0 #00005b;
}
.cotract_us_text_aria {
    margin-top: 50px;
}
.cotract_us_text {
}
.cotract_us_text_one {
    background-color: #eff7fb;
    color: #333;
    font-family: "Source Sans Pro",sans-serif;
    font-weight: 200;
    padding: 30px;
}
.cotract_us_text_one h2 {
}
.cotract_us_text_one p {
}
.cotract_us_text_tow {
    background-color: #eff7fb;
    color: #333;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 15px;
    font-weight: 200;
    padding: 30px;
    word-spacing: 1px;
}
.cotract_us_text_tow h2 {
}
.cotract_us_text_tow p {
}
.cotract_us_text_tow a {
    background-color: #2b7ca6;
    border-radius: 50px;
    box-shadow: 0 5px 0 0 #333;
    color: #fff;
    margin: auto;
    padding: 7px 52px;
    text-align: center;
    text-decoration: none;
}
.cotract_us_text_tow a:hover {
    box-shadow: 0 0 0 0 #333;
}
.cotract_us_text_tow {
    background-color: #eff7fb;
    color: #333;
    font-family: "Source Sans Pro",sans-serif;
    font-weight: 200;
    padding: 30px;
}
.cotract_us_text_center {
    text-align: center;
}
.cotract_us_text_center h2 {
}
.Request_to_talk_contract_us {
}
.cotract_us_text_aria .blog_area {
    height: 250px;
    overflow: hidden;
    position: relative;
}
.blog_img {
    position: relative;
}
.blog_img > img {
    width: 100%;
}
.blog_area:hover .blog_content {
    bottom: 0;
}
.blog_content > a h2 {
    color: #fff;
    font-size: 29px;
    font-weight: 700;
    line-height: normal;
    padding: 10px;
    text-shadow: 1px 0 3px #000;
}
.blog_content > p {
    color: #fff;
    line-height: normal;
    text-shadow: 1px 1px 1px #000;
}
.blog_area:hover .blog_content {
    bottom: 0;
}
.footer_top_aria {
    display: block;
    margin-top: 80px;
    overflow: hidden;
}
.img-responsive {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}
.img-circle {
    border-radius: 50%;
}
textarea, input {
    border: 1px solid #e4e4e4;
}
textarea {
    width: 100%;
}
.comment-list, .children {
    list-style: outside none none;
}
ul.children {
    list-style: outside none none;
    margin-left: 0;
    padding-left: 0;
}
.comment-wrap {
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
    padding-bottom: 40px;
    position: relative;
}
.comment-wrap .comments-title {
    padding-top: 60px;
}
.comment-wrap .comment-img {
    float: left;
    margin-right: 20px;
    padding-bottom: 25px;
}
.comment-author {
    text-align: left;
}
.comment-reply {
    background: #f5f5f5 none repeat scroll 0 0;
    font-style: italic;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
}
.comment-author, .comment-author a {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 2px;
    text-transform: uppercase;
}
.comment-date {
    display: block;
    font-size: 10px;
    font-style: italic;
    letter-spacing: 2px;
    padding-bottom: 7px;
    text-transform: uppercase;
}
.depth-2 .comment-wrap {
    padding-left: 30px;
}
.depth-3 .comment-wrap {
    padding-left: 60px;
}
.depth-4 .comment-wrap {
    padding-left: 90px;
}
.depth-5 .comment-wrap {
    padding-left: 120px;
}
.depth-6 .comment-wrap {
    padding-left: 150px;
}
.depth-7 .comment-wrap {
    padding-left: 180px;
}
.depth-8 .comment-wrap {
    padding-left: 210px;
}
.depth-9 .comment-wrap {
    padding-left: 240px;
}
.depth-10 .comment-wrap {
    padding-left: 270px;
}
#commentform.comment-form textarea {
    height: auto !important;
}
#commentform #comment, #commentform #author, #commentform #email, #commentform #url {
    display: block;
    height: 30px;
    width: 100%;
}
#commentform input[type="submit"] {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e4e4e4;
    display: inline-block;
    font-size: 10px;
    letter-spacing: 3px;
    margin-top: 15px;
    padding: 8px 15px;
    text-transform: uppercase;
}
#commentform input[type="submit"]:hover {
    background: #e2fcff none repeat scroll 0 0;
}
.title-line {
    border-top: 1px dotted #ccc;
    display: block;
    margin: 0 auto 25px;
    max-width: 30%;
}
@media (max-width: 767px) {
.comment-list, .children {
    padding-left: 0;
}
.comment-wrap .comment-img {
    float: none;
    margin: 0;
    padding-bottom: 0;
    width: 100%;
}
.comment-img > img {
    display: block;
    margin: 0 auto;
}
.comment-author, .comment-author a, .comment-date {
    text-align: center;
}
.depth-2 .comment-wrap, .depth-3 .comment-wrap, .depth-4 .comment-wrap, .depth-5 .comment-wrap, .depth-6 .comment-wrap, .depth-7 .comment-wrap, .depth-8 .comment-wrap, .depth-9 .comment-wrap, .depth-10 .comment-wrap {
    padding-left: 0;
}
.comment-reply {
    display: block;
    margin-top: 25px;
    position: relative;
    text-align: center;
}
}
.Services > ul {
    padding: 0;
}
.single_page_text_area {
    margin-top: 150px;
}
.arcaive_page_product_area {
    margin: 160px 0;
}
.servece_page_img {
    max-width: 100%;
}
.Our_servece_content {
    padding-bottom: 50px;
    padding-top: 50px;
}
.servece_page_text_area {
    background: #fffde5 none repeat scroll 0 0;
}
.our_servece_menu > h2 {
    color: #b10000;
    font-size: 55px;
    font-weight: 800;
    text-align: center;
}
.our_servece_menu > ul {
    list-style: outside none none;
    margin: 183px auto 0;
    padding: 0;
    width: 235px;
}
.our_servece_menu li {
    list-style: outside none none;
    margin: 0 0 20px 36px;
    padding: 0;
    text-align: left;
}
.our_servece_menu a {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}
.our_servece_menu li:nth-child(1) a {
    color: #0b1564;
}
.our_servece_menu li:nth-child(2) a {
    color: #b10000;
}
.our_servece_menu li:nth-child(3) a {
    color: #008e10;
}
.our_servece_menu li:nth-child(4) a {
    color: #4b0072;
}
.our_servece_menu li:nth-child(5) a {
    color: #030d41;
}
.our_servece_menu li:nth-child(6) a {
    color: #b10000;
}
.our_servece_menu li:nth-child(7) a {
    color: #000;
}
.our_servece_menu li:nth-child(8) a {
    color: #0b0b9d;
}
.our_servece_menu li:nth-child(9) a {
    color: #000;
}
.our_servece_menu li:nth-child(10) a {
    color: #033c74;
}
.our_servece_menu li:nth-child(11) a {
    color: #e00022;
}
.our_servece_menu li:nth-child(12) a {
    color: #065200;
}
.our_servece_menu li::before {
    background: #cc0000 none repeat scroll 0 0;
    content: "";
    height: 10px;
    margin-left: -18px;
    margin-top: 10px;
    position: absolute;
    transform: rotate(45deg);
    width: 10px;
}
.single_page_blog_img img {
    max-width: 100%;
}
.our_servece_menu {
    background: rgba(0, 0, 0, 0) url("img/get.png") no-repeat scroll -10px 86px / 100% 100%;
}